@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(28, 25, 23);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #465fce;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 58, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 148, 148);
}
